@use "@angular/material" as mat;

mat-dialog-content {
  @include mat.theme(
    (
      density: -1,
    )
  );

  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
