<h2 mat-dialog-title>Rename Channel</h2>
<mat-dialog-content>
  <p>
    Here you can change the name of the channel if you named it by mistake or
    just want to change it. You can edit this any time.
  </p>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="newName" placeholder="New channel name" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="warn" (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</mat-dialog-actions>
