<mat-card class="user-card">
  <mat-card-header>
    <img mat-card-avatar [src]="getAvatarUrl()" alt="Avatar" />
    <mat-card-title>{{ data.user.username }}</mat-card-title>
    <mat-card-subtitle>{{ data.user.pronouns }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (data.user.status) {
    <div><strong>Status:</strong> {{ data.user.status }}</div>
    } @if (data.user.bio) {
    <div><strong>Bio:</strong> {{ data.user.bio }}</div>
    } @if (data.roles.length > 0) {
    <div>
      <strong>Roles:</strong>
      @for (role of data.roles; track $index) {
      <mat-chip>{{ role }}</mat-chip>
      }
    </div>
    }

    <div class="user-actions">
      <!-- Later: status, friend request, PM, etc. -->
    </div>
  </mat-card-content>
</mat-card>
