@use "@angular/material" as mat;

.bio {
  white-space: pre-line;
}

.status-line {
  display: flex;
  align-items: center;
  gap: 8px;

  .status-input-field {
    @include mat.theme(
      (
        density: -5,
      )
    );
  }

  input.status-input {
    flex: 1;
    padding: 4px 8px;
    font-size: 14px;
  }
}
