<mat-card class="user-card">
  <mat-card-header>
    <img mat-card-avatar [src]="getAvatarUrl()" alt="Avatar" />
    <mat-card-title>{{ data.selectedUser.user.username }}</mat-card-title>
    <mat-card-subtitle>{{ data.selectedUser.user.pronouns }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="status-line">
      <strong>Status:</strong>

      @if (editStatusMode) {
      <input
        [(ngModel)]="updatedStatus"
        maxlength="120"
        class="status-input"
        placeholder="Set a new status..."
      />
      <button mat-icon-button (click)="saveStatus()" aria-label="Save status">
        <mat-icon>check</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="editStatusMode = false"
        aria-label="Cancel"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @else {
      <span>{{ data.selectedUser.user.status }}</span>
      @if (isOwnProfile) {
      <button
        mat-icon-button
        (click)="editStatusMode = true"
        aria-label="Edit status"
      >
        <mat-icon>edit</mat-icon>
      </button>
      } }
    </div>

    <div class="bio">
      <strong>Bio:</strong> {{ data.selectedUser.user.bio }}
    </div>
    @if (data.selectedUser.roles.length > 0) {
    <div>
      <strong>Roles:</strong>
      @for (role of data.selectedUser.roles; track $index) {
      <mat-chip>{{ role }}</mat-chip>
      }
    </div>
    }

    <div class="user-actions">
      <!-- Later: status, friend request, PM, etc. -->
    </div>
  </mat-card-content>
</mat-card>
