@use "@angular/material" as mat;

.form {
  width: 90%;
  margin: 0 auto;
  padding: 1.5%;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
