@use "@angular/material" as mat;

.marked-gif-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  max-width: 365px;
  max-height: 365px;
  padding: 0;
  margin: 0;

  .image-gif {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  .marked-star-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 5%;
    left: 7%;

    width: 40px;
    height: 40px;

    z-index: 2;

    .marked-star-button {
      & {
        @include mat.theme(
          (
            color: mat.$orange-palette,
          )
        );
      }

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 30%;
      border: none;
      background-color: var(--mat-sys-surface-container-highest);
      color: var(--mat-sys-primary);
      font-weight: bold;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      transition: background-color 0.2s ease, color 0.2s ease;
      cursor: pointer;
      z-index: 2;

      &:hover {
        background-color: var(--mat-sys-primary-container);
        color: var(--mat-sys-on-primary-container);
      }

      .ripple {
        position: absolute;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        top: -1%;
        left: -1%;
        transform: scale(0);
        animation: ripple 150ms linear;
        background-color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        z-index: 1;
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }

      .material-symbols-outlined.filled {
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
      }
    }

    .marked-particle-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      pointer-events: none;
      overflow: visible;
      z-index: 3;
    }
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
