@use "@angular/material" as mat;

.message-video-wrapper {
  margin: 0.5rem 0;
}

.message-video {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.message-youtube,
.message-vimeo,
.message-tiktok,
.message-facebook,
.message-twitch {
  width: 100%;
  min-height: 200px;
  border-radius: 0.5rem;
}

.message-streamable {
  border-radius: 0.5rem;
}

.tiktok-placeholder {
  max-width: 325px;
  width: 100%;
  margin: 1rem 0;

  .tiktok-embed {
    width: 100% !important;
  }
}
