@if (isChatRoom) {
<h2 mat-dialog-title>Delete Chat Room</h2>
} @else {
<h2 mat-dialog-title>Delete Channel</h2>
}
<mat-dialog-content>
  @if (isChatRoom) {
  <p>
    Are you sure that you want to delete this chat room? This action cannot be
    undone and all channels andmessages will be lost.
  </p>
  } @else {
  <p>
    Are you sure that you want to delete this channel? This action cannot be
    undone and all messages will be lost.
  </p>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button class="warn" (click)="onDelete()">Delete</button>
</mat-dialog-actions>
