<div class="account-page">
  <mat-nav-list class="account-sidebar">
    <a
      mat-list-item
      (click)="setSection('username-bio')"
      [class.active]="selectedSection === 'username-bio'"
    >
      Username & Bio
    </a>
    <a
      mat-list-item
      (click)="setSection('pronouns')"
      [class.active]="selectedSection === 'pronouns'"
    >
      Pronouns
    </a>
    <a
      mat-list-item
      (click)="setSection('email')"
      [class.active]="selectedSection === 'email'"
    >
      Email
    </a>
    <a
      mat-list-item
      (click)="setSection('password')"
      [class.active]="selectedSection === 'password'"
    >
      Password
    </a>
    <a
      mat-list-item
      (click)="setSection('avatar')"
      [class.active]="selectedSection === 'avatar'"
    >
      Avatar
    </a>
    <a
      mat-list-item
      (click)="setSection('logout')"
      [class.active]="selectedSection === 'logout'"
    >
      Log Out
    </a>
    <a
      mat-list-item
      (click)="setSection('delete')"
      [class.active]="selectedSection === 'delete'"
    >
      Delete Account
    </a>
    <a
      mat-list-item
      (click)="setSection('navigation')"
      [class.active]="selectedSection === 'navigation'"
    >
      Navigation
    </a>
  </mat-nav-list>

  <div class="account-main">
    @switch (selectedSection) { @case ('username-bio') {
    <h2>Username & Bio</h2>
    <p>Update your username and bio to personalize your account.</p>
    <app-username-bio [user]="user" (userChange)="user = $event" />
    } @case ('email') {
    <div>
      <h2>Email</h2>
      <p>
        Update your email address. There is no functionality yet. It is
        optional.
      </p>
      <app-account-email [user]="user" (userChange)="user = $event" />
    </div>
    } @case ('password') {
    <div>
      <h2>Password</h2>
      <p>Update your password to secure your account.</p>
      <app-password [user]="user" />
    </div>
    } @case ('pronouns') {
    <div>
      <h2>Pronouns</h2>
      <p>Update your pronouns to personalize your account.</p>
      <app-pronouns [user]="user" (userChange)="user = $event" />
    </div>
    } @case ('avatar') {
    <app-avatar [user]="user" (userChange)="user = $event" />
    } @case ('logout') {
    <div>
      <app-logout />
    </div>
    } @case ('delete') {
    <div>
      <h2>Delete Account</h2>
      <p>
        Are you sure you want to delete your account? You will not be able to
        restore it after this action.
      </p>
      <app-delete-account [user]="user" (userChange)="user = $event" />
    </div>
    } @case ('navigation') {
    <div>
      <h2>Navigation</h2>
      <p>Quickly jump to other areas of the app.</p>
      <app-account-navigation></app-account-navigation>
    </div>
    } }
  </div>

  <div class="account-card">
    <app-user-card [user]="user" />
  </div>
</div>
