<!-- <div id="account-settings">
  <mat-tab-group>
    <mat-tab label="Account Info">
      @if (user) {
      <app-account-info [user]="user" />
      } @else {
      <p>Loading user data...</p>
      }
    </mat-tab>
    <mat-tab label="Username & Bio">
      <app-username-bio [user]="user" (userChange)="user = $event" />
    </mat-tab>
    <mat-tab label="Email">
      <h1>Current Email: {{ user?.email }}</h1>
      <app-account-email [user]="user" (userChange)="user = $event" />
    </mat-tab>
    <mat-tab label="Password">
      <app-password [user]="user" />
    </mat-tab>
    <mat-tab label="Avatar">
      <h1>update avatar</h1>
    </mat-tab>
    <mat-tab label="Delete Account">
      <h1>delete account</h1>
    </mat-tab>
  </mat-tab-group>
</div> -->

<div class="account-page">
  <mat-nav-list class="account-sidebar">
    <a
      mat-list-item
      (click)="setSection('username-bio')"
      [class.active]="selectedSection === 'username-bio'"
    >
      Username & Bio
    </a>
    <a
      mat-list-item
      (click)="setSection('email')"
      [class.active]="selectedSection === 'email'"
    >
      Email
    </a>
    <a
      mat-list-item
      (click)="setSection('password')"
      [class.active]="selectedSection === 'password'"
    >
      Password
    </a>
    <a
      mat-list-item
      (click)="setSection('avatar')"
      [class.active]="selectedSection === 'avatar'"
    >
      Avatar
    </a>
    <a
      mat-list-item
      (click)="setSection('delete')"
      [class.active]="selectedSection === 'delete'"
    >
      Delete Account
    </a>
  </mat-nav-list>

  <div class="account-main">
    @switch (selectedSection) { @case ('username-bio') {
    <h2>Username & Bio</h2>
    <p>Update your username and bio to personalize your account.</p>
    <app-username-bio [user]="user" (userChange)="user = $event" />
    } @case ('email') {
    <div>
      <h2>Email</h2>
      <p>
        Update your email address. There is no functionality yet. It is
        optional.
      </p>
      <app-account-email [user]="user" (userChange)="user = $event" />
    </div>
    } @case ('password') {
    <h2>Password</h2>
    <p>Update your password to secure your account.</p>
    <app-password [user]="user" />
    } @case ('avatar') {
    <app-avatar [user]="user" (userChange)="user = $event" />
    } @case ('delete') {
    <div>
      <h2>Delete Account</h2>
      <p>
        Are you sure you want to delete your account? You will not be able to
        restore it after this action.
      </p>
      <app-delete-account [user]="user" (userChange)="user = $event" />
    </div>
    } @default {
    <app-account-info [user]="user" />
    } }
  </div>

  <div class="account-card">
    <app-account-info [user]="user" />
    <!-- Later: <app-user-card [user]="user" /> -->
  </div>
</div>
