<div class="chat-room-layout">
  <div class="top-left">
    <app-chat-room-settings
      [chatName]="chatName()"
      [newChannel]="newChannel()"
      [channels]="channels()"
      [isAdmin]="isAdmin()"
      [isOwner]="isOwner()"
      [chatId]="chatId()"
      (chatNameChange)="chatName.set($event)"
      (newChannelChange)="newChannel.set($event)"
      (saveChanges)="saveChanges()"
      (deleteRoom)="deleteChatRoom()"
      (onChannelEdit)="onChannelEdit($event)"
    ></app-chat-room-settings>
  </div>

  <div class="top-center">
    <app-channel-topic
      [topic]="selectedChannel()?.topic"
      [canEdit]="isAdmin() || isOwner()"
      [channelId]="channelId()"
      (topicChange)="onTopicChange($event)"
    ></app-channel-topic>

    <app-permissions
      [channelId]="channelId()"
      [canEdit]="isAdmin() || isOwner()"
      (openPermissionsDialog)="openPermissionsDialog()"
    ></app-permissions>
  </div>

  <div class="left-sidebar">
    <app-channel-list
      [chatId]="chatId()"
      [channels]="channels()"
      [isAdmin]="isAdmin()"
      [isOwner]="isOwner()"
      (removeChannel)="onChannelRemove($event)"
      (renameChannel)="onChannelRename($event)"
      (addChannel)="addChannel()"
    >
    </app-channel-list>
  </div>

  <div class="main">
    <div class="message-list" #scrollContainer (scroll)="onScroll()">
      <app-message-list
        [isAdmin]="isAdmin()"
        [isOwner]="isOwner()"
        [isModerator]="isModerator()"
        [messages]="messages()"
        [members]="populatedUsers()"
        [currentUserId]="currentUser()?.id"
        [channelId]="channelId()"
        [chatId]="chatId()"
        (onDelete)="deleteMessage($event)"
        (onEdit)="editMessage($event)"
        (onReply)="startReplyingToMessage($event)"
      ></app-message-list>
    </div>

    <app-message-input
      [message]="message()"
      (messageChange)="message.set($event)"
      [members]="populatedUsers()"
      (send)="sendMessage()"
      [chatId]="chatId()"
      [channelId]="channelId()"
      [replyingToMessage]="replyingToMessage()"
      (cancelReply)="cancelReply()"
      (replyToMessage)="replyToMessage()"
    ></app-message-input>
  </div>

  <div class="right-sidebar">
    <app-member-list
      [members]="populatedUsers()"
      [currentUserId]="currentUser()?.id"
      [isAdmin]="isAdmin()"
      [isOwner]="isOwner()"
      [isModerator]="isModerator()"
      [chatId]="chatId()"
    ></app-member-list>
  </div>
</div>
