<app-message-list [messages]="messages()"></app-message-list>

<app-message-input
  [message]="message()"
  (messageChange)="message.set($event)"
  (send)="sendMessage()"
></app-message-input>

<app-chat-room-settings
  [chatName]="chatName()"
  [newChannel]="newChannel()"
  [channels]="channels()"
  [isAdmin]="isAdmin()"
  [isOwner]="isOwner()"
  [chatId]="chatId()"
  (chatNameChange)="chatName.set($event)"
  (newChannelChange)="newChannel.set($event)"
  (saveChanges)="saveChanges()"
  (deleteRoom)="deleteChatRoom()"
  (onChannelEdit)="onChannelEdit($event)"
></app-chat-room-settings>

<app-channel-list
  [chatId]="chatId()"
  [channels]="channels()"
  [isAdmin]="isAdmin()"
  [isOwner]="isOwner()"
  (removeChannel)="onChannelRemove($event)"
  (renameChannel)="onChannelRename($event)"
  (addChannel)="addChannel()"
>
</app-channel-list>

<app-channel-topic
  [topic]="selectedChannel()?.topic"
  [canEdit]="isAdmin() || isOwner()"
  [channelId]="channelId"
  (topicChange)="onTopicChange($event)"
></app-channel-topic>
