<div class="container">
  <app-header></app-header>

  <div class="search-card">
    <mat-card>
      <mat-card-title
        ><mat-icon>search</mat-icon> Search Chatrooms</mat-card-title
      >

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="searchTerm"
          placeholder="Search chatrooms"
        />
      </mat-form-field>
    </mat-card>
  </div>

  <div class="create-room-button">
    <button mat-raised-button color="primary" (click)="createRoom()">
      <mat-icon>add</mat-icon> Create Room
    </button>
  </div>

  <app-chat-room-list
    [chatRooms]="chatRooms"
    [searchTerm]="searchTerm()"
    [currentUserId]="currentUserId()"
    (joinRoom)="joinRoom($event)"
    (leaveRoom)="leaveRoom($event)"
    (visitRoom)="visitRoom($event)"
  ></app-chat-room-list>

  <app-friend-list [friends]="friends"></app-friend-list>

  <app-notification-list
    [notifications]="notifications"
    (declineRequest)="declainNotification($event)"
  ></app-notification-list>
</div>
