@use "@angular/material" as mat;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-card {
  display: flex;
  justify-content: center;

  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );

  mat-card {
    width: 98%;

    mat-card-title {
      margin: 1rem;
    }

    mat-form-field {
      margin: 1rem;

      @include mat.theme(
        (
          color: mat.$magenta-palette,
        )
      );
    }
  }
}

.create-room-button {
  display: flex;
  justify-content: center;

  button {
    width: 99%;

    @include mat.theme(
      (
        color: mat.$spring-green-palette,
      )
    );
  }
}
