<div class="navigation-links">
  <button mat-button color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>

  <button mat-button color="primary" routerLink="/main">
    <mat-icon>chat</mat-icon>
    Main Chat Page
  </button>

  <button mat-button color="primary" routerLink="/chat-room">
    <mat-icon>forum</mat-icon>
    Chat Room
  </button>

  <button mat-button color="primary" routerLink="/account">
    <mat-icon>settings</mat-icon>
    Back to Account
  </button>
</div>
