@use "@angular/material" as mat;

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

.chat-room-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
