<div class="chat-room-settings">
  @if (isAdmin || isOwner) {
  <!-- <div class="chat-name-input"> -->
  <mat-form-field appearance="outline">
    <input
      matInput
      [(ngModel)]="chatName"
      (ngModelChange)="chatNameChange.emit($event)"
      placeholder="ChatRoomName"
    />
  </mat-form-field>
  }
  <mat-button-toggle-group appearance="legacy">
    @if (isAdmin || isOwner) {
    <button
      mat-stroked-button
      (click)="saveChanges.emit()"
      disabled="isAdmin || isOwner"
    >
      Save Changes
    </button>
    } @if (isOwner && chatId) {
    <button
      mat-stroked-button
      (click)="deleteRoom.emit()"
      class="warn"
      disabled="isOwner && chatId"
    >
      Delete Chat Room
    </button>
    }
  </mat-button-toggle-group>
</div>
