@use "@angular/material" as mat;

.chat-room-settings-thumbnail {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .thumbnail-image {
    width: 47px;
    height: 47px;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}
