@if (isAdmin) {
<div>
  <input
    [(ngModel)]="chatName"
    (ngModelChange)="chatNameChange.emit($event)"
    placeholder="Chat Room Name"
  />

  @for (channel of channels; track $index) {
  <div>
    <span>{{ channel }}</span>
  </div>
  }

  <input
    [(ngModel)]="newChannel"
    (ngModelChange)="newChannelChange.emit($event)"
    placeholder="New channel"
  />
  <button (click)="addChannel.emit()">Add Channel</button>
  <button (click)="saveChanges.emit()">Save Changes</button>
</div>
} @if (isOwner && chatId) {
<button (click)="deleteRoom.emit()" class="danger">Delete Chat Room</button>
}
