@if (otherUser) {
<mat-card class="private-user-card">
  <mat-card-header class="card-header">
    <img
      mat-card-avatar
      [src]="getAvatarUrl(otherUser.user._id)"
      alt="Avatar"
    />
    <app-status-dot
      [status]="
        typingUsers.get('')?.has(otherUser.user._id)
          ? 'typing'
          : idleService.idleUsers().includes(otherUser.user._id)
          ? 'idle'
          : onlineUsers.has(otherUser.user._id)
          ? 'online'
          : 'offline'
      "
      class="status-dot"
    ></app-status-dot>
    <mat-card-title>{{ otherUser.user.username }}</mat-card-title>
    <mat-card-subtitle class="user-pronouns">{{
      otherUser.user.pronouns
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-content">
    <div class="user-info">
      <div class="status-bubble">
        <div class="bubble-content">
          <span class="status-text" [class.empty]="!otherUser.user.status">{{
            otherUser.user.status || "No status set"
          }}</span>
        </div>
      </div>

      <div class="bio">
        {{ otherUser.user.bio || "No bio available" }}
      </div>
    </div>

    <div class="user-actions">
      <button
        mat-stroked-button
        (click)="copyId(otherUser.user._id)"
        class="primary"
      >
        <mat-icon>
          @if (isChecked === false) { content_copy } @else { check }
        </mat-icon>
        Copy ID
      </button>
      <button
        mat-stroked-button
        [disabled]="isFriend() || isRequestPending() || isBanned()"
        (click)="sendFriendRequest()"
        class="accent"
      >
        <mat-icon>
          @if (isRequestPending()) { hourglass_top } @else if (isFriend()) {
          person } @else if (isBanned()) { person_off } @else { person_add }
        </mat-icon>

        @if (isRequestPending()) { Request Pending } @else if (isFriend()) {
        Already Friends } @else if (isBanned()) { Banned } @else { Friend
        Request }
      </button>
      @if (isBanned()) {
      <button mat-stroked-button (click)="unbanUser(otherUser)" class="accent">
        <mat-icon>undo</mat-icon>
        Unban
      </button>
      } @else {
      <button mat-stroked-button (click)="banUser(otherUser)" class="warn">
        <mat-icon>person_off</mat-icon>
        Block
      </button>
      }
    </div>
  </mat-card-content>
</mat-card>
}
