<h1 mat-dialog-title>Edit Chat Room</h1>
<p>Here you can change the thumbnail, name and topic of the chat room.</p>

<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.name" placeholder="Chat Room Name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <textarea
      matInput
      [(ngModel)]="data.topic"
      placeholder="Chat Room Topic"
      rows="4"
    ></textarea>
  </mat-form-field>

  <div class="thumbnail-container">
    <div matRipple [matRippleTrigger]="trigger">
      <label
        #trigger
        for="thumbnail-upload"
        class="file-upload-label"
        mat-stroked-button
      >
        Upload Thumbnail
      </label>
    </div>
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      id="thumbnail-upload"
      hidden
    />

    @if (selectedFile) {
    <div class="file-name">
      {{ selectedFile.name }}
    </div>
    } @if (thumbnailPreview) {
    <img
      [src]="thumbnailPreview"
      alt="Thumbnail preview"
      class="thumbnail-preview"
    />
    }
  </div>
</div>

<div mat-dialog-actions>
  <button mat-stroked-button class="warn" (click)="onDeleteThumbnail()">
    Delete Thumbnail
  </button>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button (click)="onSave()" class="primary">Save</button>
</div>
