@use "@angular/material" as mat;

mat-form-field {
  @include mat.theme(
    (
      density: -5,
    )
  );

  padding: 0;
  margin: 0;
}

.channel-topic {
  display: flex;
}

span {
  display: block;
  padding: 0.7rem;
}
