<form [formGroup]="form" (ngSubmit)="updateUsernameBio()" class="form">
  <app-auth-form-field
    label="Username"
    placeholder="Username"
    [control]="usernameControl"
  ></app-auth-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Bio</mat-label>
    <textarea
      matInput
      cdkAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      placeholder="Write a short bio"
      [formControl]="bioControl"
    ></textarea>
  </mat-form-field>

  <div class="button-row">
    <button mat-raised-button type="submit" [disabled]="form.invalid">
      Update Username & Bio
    </button>
  </div>
</form>
