.status-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: gray;

  &.online {
    background-color: #4caf50;
  }

  &.offline {
    background-color: #9e9e9e;
  }

  &.idle {
    background-color: #ffc107;
  }
}
