@use "@angular/material" as mat;

.status-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--mat-sys-surface-container);
  background-color: var(--mat-sys-outline);

  &.online {
    background-color: var(--mat-sys-primary);

    & {
      @include mat.theme(
        (
          color: mat.$green-palette,
        )
      );
    }
  }

  &.typing {
    background-color: var(--mat-sys-primary);
    animation: typingPulse 1s infinite ease-in-out;

    & {
      @include mat.theme(
        (
          color: mat.$rose-palette,
        )
      );
    }
  }

  &.idle {
    background-color: var(--mat-sys-primary);

    & {
      @include mat.theme(
        (
          color: mat.$yellow-palette,
        )
      );
    }
  }
}

@keyframes typingPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
