.logout-button-container {
  border-radius: 1.5rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
      0 0 25px rgba(255, 100, 200, 0.5), 0 0 50px rgba(100, 150, 255, 0.4);
  }

  &:active {
    transform: scale(0.97);
  }
}

.rainbow-button {
  display: inline-block;
  padding: 3rem 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 1.5rem;
  color: var(--mat-sys-inverse-on-surface);
  cursor: pointer;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #505cff, #530c65);
  background-size: 600%;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 61, 119, 0.4),
    0 0 40px rgba(80, 92, 255, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;

  animation: rainbowFlow 8s linear infinite;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
      0 0 25px rgba(255, 100, 200, 0.5), 0 0 50px rgba(100, 150, 255, 0.4);
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.97);
  }
}

@keyframes rainbowFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  min-height: 100%;
}

.logout-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: slideInTop 0.6s ease-in-out;

  h3 {
    color: var(--mat-sys-on-secondary-fixed-variant);
  }

  p {
    font-size: 1.7rem;
    color: var(--mat-sys-on-secondary-fixed-variant);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#fade-out-message {
  margin-top: 2.5rem;
  font-size: 1.61rem;
  color: var(--mat-sys-on-secondary-fixed-variant);
  opacity: 0;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
