.member {
  display: flex;

  .avatar-wrapper {
    display: flex;
    align-items: center;

    .user-avatar {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 0.75rem;
    }
  }

  .user-info {
    p {
      padding: 0;
      margin: 0;
    }
  }
}
