<mat-nav-list>
  @for (member of members; track $index) {
  <mat-list-item (click)="openUserDialog(member)">
    <div class="member">
      <div class="avatar-wrapper">
        <img
          matListAvatar
          [src]="getAvatarUrl(member.user._id)"
          alt="Avatar"
          class="user-avatar"
        />
      </div>
      <div class="user-info">
        <div class="user-name-pronouns">
          <p>{{ member.user.username }}</p>
          <p class="secondary-text">{{ trimText(member.user.pronouns, 12) }}</p>
        </div>
        <p class="secondary-text">{{ trimText(member.user.status, 20) }}</p>
      </div>
    </div>
  </mat-list-item>
  }
</mat-nav-list>
