@use "@angular/material" as mat;

.message {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  padding-left: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--mat-sys-surface-container);
  transition: background-color 0.2s;
  position: relative;
  box-sizing: border-box;

  &.first {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;

    margin-top: 0.5rem;
  }

  &.middle {
    border-radius: 0rem !important;
  }

  &.last {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
  }

  &.first.last {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.3rem !important;
  }

  &.own {
    background-color: var(--mat-sys-secondary-container);
    border-right: 5px solid var(--mat-sys-on-primary-container);
    flex-direction: row-reverse;
    border-top-right-radius: 0.3rem;

    &.first.last {
      border-bottom-right-radius: 0.3rem !important;
    }

    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
    .message-content {
      align-items: flex-end;
    }

    .avatar-wrapper {
      .user-avatar {
        margin-right: 0;
        margin-left: 0.75rem;
      }
    }

    .message-content {
      .message-header {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        gap: 0.5rem;
      }

      .text {
        flex-direction: row-reverse;
      }
    }

    .message-actions {
      position: absolute;
      top: 0;
      left: 1%;
      width: 100%;
    }

    &.reply {
      background-color: var(--mat-sys-secondary-container);
      border-left: none;

      &:hover {
        background-color: var(--mat-sys-surface-dim);
      }
    }
  }

  &.reply {
    @include mat.theme(
      (
        color: mat.$yellow-palette,
      )
    );

    background-color: var(--mat-sys-surface-variant);
    border-left: 5px solid var(--mat-sys-on-primary-container);
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
  }

  &:hover {
    background-color: var(--mat-sys-surface-dim);
  }

  .message-actions {
    position: absolute;
    top: 0;
    right: 1%;
    width: 12%;

    display: flex;

    gap: 0.25rem;
    margin-top: 0.25rem;

    button {
      width: 1.75rem;
      height: 1.75rem;
      padding: 0;
      padding-top: 0.25rem;

      @include mat.theme(
        (
          color: mat.$blue-palette,
        )
      );

      mat-icon {
        font-size: 1.1rem;
      }
    }
  }
}

.avatar-wrapper {
  flex-shrink: 0;

  .user-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.75rem;
  }
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 75%;

  .message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: gray;
    z-index: 1;
  }

  .username {
    font-weight: 600;
    color: var(--mat-sys-on-surface);

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .timestamp {
    font-size: 0.75rem;
  }

  .quoted-message {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.25rem 0.5rem;
    border-left: 3px solid var(--mat-sys-primary);
    font-size: 0.85rem;
    color: #ccc;
    border-radius: 0.25rem;
  }

  .text {
    white-space: pre-wrap;
    word-break: break-word;

    display: flex;
    // flex-direction: row-reverse;
    gap: 1rem;

    z-index: 1;

    .timestamp {
      color: gray;
    }

    .edited {
      font-size: 0.75rem;
      color: gray;
      margin-right: 0.5rem;
    }

    .edit-input {
      width: 100%;
    }
  }
}

.edit-input {
  width: 100%;
  margin-right: 8px;
}

.edit-actions {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

div.reply.first:not(.own) {
  border-top-left-radius: 0.3rem !important;
  border-bottom-left-radius: 0.3rem !important;
}
