<div class="notification-list-container">
  <mat-card class="notification-card">
    <mat-card-title>Notifications</mat-card-title>

    <mat-list class="notification-list">
      @for (notification of notifications; track $index) {
      <mat-list-item>
        <div class="avatar-wrapper">
          <img
            [src]="getAvatarUrl(notification)"
            alt="Avatar"
            class="user-avatar"
          />
        </div>

        <div class="notification-item">
          <div class="notification-info">
            <span class="message">{{ notification.message }}</span>
            <span class="timestamp">
              {{ notification.createdAt | date : "short" }}
            </span>
          </div>

          <mat-icon class="icon">notifications</mat-icon>

          @if (notification.type === 'friend-request') {
          <button
            mat-button
            color="primary"
            (click)="acceptRequest(notification)"
          >
            Accept
          </button>
          <button
            mat-button
            class="warn"
            (click)="declineRequest(notification)"
          >
            Decline
          </button>
          }
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-card>
</div>
