<div class="notification-list-container">
  <mat-card class="notification-card">
    <mat-card-title>Notifications</mat-card-title>

    @if (isNotEmpty(notifications)) {
    <mat-list class="notification-list">
      @for (notification of notifications; track $index) {
      <mat-list-item>
        <div class="notification-item">
          <mat-icon class="icon">notifications</mat-icon>
          <img
            [src]="getAvatarUrl(notification)"
            alt="Avatar"
            class="user-avatar"
          />

          <div class="notification-info">
            <span class="message">{{ notification.message }}</span>
            <span class="timestamp">
              {{ notification.createdAt | date : "short" }}
            </span>
          </div>

          @if (notification.type === 'friend-request' || notification.type ===
          'private-chat-deletion-request') {
          <button mat-button (click)="acceptRequest.emit(notification)">
            Accept
          </button>
          <button
            mat-button
            class="warn"
            (click)="declineRequest.emit(notification)"
          >
            Decline
          </button>
          } @else if (notification.type === 'friend-declined' ||
          notification.type === 'friend-accepted' || notification.type ===
          'private-chat-deletion-confirmed' || notification.type ===
          'private-chat-deletion-declined') {
          <button mat-button (click)="ok.emit(notification)">OK</button>
          }
        </div>
      </mat-list-item>
      }
    </mat-list>
    } @else {
    <p class="empty-message">No notifications found.</p>
    }
  </mat-card>
</div>
