@use "@angular/material" as mat;

@import "styles/text-formatting.scss";
@import "styles/star.scss";
@import "styles/emoji.scss";
@import "styles/image-gif.scss";
@import "styles/message-video.scss";

@import "highlight.js/styles/github.css";
@import "../node_modules/@ctrl/ngx-emoji-mart/picker.css";

@include mat.elevation-classes();
@include mat.app-background();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
      use-system-variables: true,
    system-variables-prefix: sys,
    )
  );
}

html,
body {
  height: 100%;
  background-color: var(--mat-sys-surface-container-lowest);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
