@use "@angular/material" as mat;
@import "highlight.js/styles/github.css";

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
      use-system-variables: true,
    )
  );
}

html,
body {
  height: 100%;
  background-color: var(--mat-sys-surface-container-lowest);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hljs {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );

  border-radius: 10px;

  & {
    background-color: var(--mat-sys-surface-container);
    box-shadow: 2px 2px 125px 2px var(--mat-sys-primary-container);
  }
}

.spoiler {
  background-color: var(--mat-sys-outline);
  color: var(--mat-sys-outline);
  border-radius: 5px;
  padding: 0 8px;
  cursor: pointer;

  transition: color 0.2s ease;

  &:hover {
    color: var(--mat-sys-background);
  }
}

.code-span {
  background-color: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-outline);
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
}

.code-block-wrapper {
  position: relative;

  code {
    display: block;
    overflow-x: auto !important;
    padding-right: 5rem !important;
  }

  .copy-button {
    position: absolute;
    top: 1.4rem;
    right: 0.5rem;

    @include mat.theme(
      (
        color: mat.$rose-palette,
      )
    );
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1.5rem;
    border-radius: 5px;
    border: none;

    transition: background-color 0.2s ease;
    transition: color 0.2s ease;

    & {
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-secondary-container);
    }

    &:hover {
      background-color: var(--mat-sys-primary-fixed-dim);
      color: var(--mat-sys-on-primary-container);
    }
  }
}
