@use "@angular/material" as mat;

.list-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  width: 100%;
}

mat-card-title {
  margin: 1rem;
}

.friend-card {
  width: 48%;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.user-avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
}

.status {
  font-size: 12px;
  color: var(--mat-sys-outline);
}

.actions {
  display: flex;
  gap: 5px;

  .primary {
    @include mat.theme(
      (
        color: mat.$azure-palette,
      )
    );

    color: var(--mat-sys-primary);
  }

  .accent {
    @include mat.theme(
      (
        color: mat.$yellow-palette,
      )
    );

    color: var(--mat-sys-primary);
  }

  .warn {
    color: var(--mat-sys-error);
  }
}

.empty-message {
  padding: 1rem;
  font-style: italic;
  color: var(--mat-sys-outline);
}
