<div class="list-wrapper">
  <mat-card class="friend-card">
    <mat-card-title>Friends</mat-card-title>
    @if (isNotEmpty(friends)) {
    <mat-list>
      @for (friend of friends; track $index) {
      <mat-list-item>
        <div class="list-item">
          <img [src]="getAvatarUrl(friend)" alt="Avatar" class="user-avatar" />
          <div class="friend-info">
            <div class="username">{{ friend.username }}</div>
            <div class="status">{{ friend.status }}</div>
          </div>
          <div class="actions">
            <button
              mat-icon-button
              (click)="message.emit(friend._id)"
              matTooltip="Message"
              class="primary"
            >
              <mat-icon>chat</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="remove.emit(friend)"
              matTooltip="Remove friend"
              class="accent"
            >
              <mat-icon>person_remove</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="ban.emit(friend)"
              matTooltip="Ban user"
              class="warn"
            >
              <mat-icon>block</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
      }
    </mat-list>
    } @else {
    <p class="empty-message">Friend list is empty</p>
    }
  </mat-card>

  <mat-card class="friend-card">
    <mat-card-title>Banned Users</mat-card-title>
    @if (isNotEmpty(banList)) {
    <mat-list>
      @for (user of banList; track $index) {
      <mat-list-item>
        <div class="list-item">
          <img [src]="getAvatarUrl(user)" alt="Avatar" class="user-avatar" />
          <div class="friend-info">
            <div class="username">{{ user.username }}</div>
            <div class="status">{{ user.status }}</div>
          </div>
          <div class="actions">
            <button
              mat-icon-button
              color="primary"
              (click)="unban.emit(user)"
              matTooltip="Unban user"
            >
              <mat-icon>undo</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
      }
    </mat-list>
    } @else {
    <p class="empty-message">Ban list is empty.</p>
    }
  </mat-card>
</div>
