@if (isAdmin) {
<button mat-button (click)="addNewChannel()">Add Channel</button>
@for (channel of channels; track $index) {
<div class="channel-item">
  <span>
    <a routerLink="[/chat-room], chatId, 'channel', channel._id">
      {{ channel.name }}
    </a>
  </span>
  <button
    mat-button
    (click)="
      onRename(channel._id, prompt('New name:', channel.name) || channel.name)
    "
  >
    Rename
  </button>
  <button mat-button (click)="onRemove(channel._id)">Delete</button>
</div>
} } @else {
<p>Another interface.</p>
}
