<form action="" [formGroup]="form" (ngSubmit)="submit()">
  <app-auth-form-field
    label="Username"
    placeholder="Username"
    [control]="form.controls.username"
  ></app-auth-form-field>

  <app-auth-form-field
    label="Email"
    placeholder="email@email.com"
    type="email"
    [control]="form.controls.email"
  ></app-auth-form-field>

  <app-auth-form-field
    label="Password"
    placeholder="Password"
    type="password"
    [control]="form.controls.password"
  ></app-auth-form-field>

  <button type="submit" [disabled]="form.invalid">Register</button>
</form>
