@if (replyingToMessage) {
<div class="reply-indicator">
  Replying to
  <strong>{{ getRecipientUsername() }}</strong
  >: "{{ replyingToMessage.text }}"
  <button mat-icon-button (click)="cancelReply.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
}
<div class="message-input-container">
  <div class="input-row">
    @if (getTypingUsernames().length) {
    <div class="typing-indicator">
      {{ getTypingUsernames().join(", ") }}
      {{ getTypingUsernames().length === 1 ? "is" : "are" }} typing...
    </div>
    }

    <textarea
      #textarea
      [(ngModel)]="message"
      (ngModelChange)="messageChange.emit($event)"
      (keydown.enter)="replyingToMessage ? onReply($event) : onEnter($event)"
      (input)="onInputChange()"
      placeholder="Type a message"
      class="message-textarea"
    ></textarea>

    <div class="button-row">
      <button
        mat-icon-button
        (click)="showGifPicker = !showGifPicker; showEmojiPicker = false"
      >
        <mat-icon>gif</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="showEmojiPicker = !showEmojiPicker; showGifPicker = false"
      >
        <mat-icon>insert_emoticon</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="replyingToMessage ? onReply($event) : onClick($event)"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
  @if (showEmojiPicker) {
  <emoji-mart
    set="google"
    theme="light"
    (emojiSelect)="addEmoji($event)"
    class="emoji-picker"
  ></emoji-mart>
  } @if (showGifPicker) {
  <app-gif-picker (select)="onGifSelected($event)" class="gif-picker" />
  }
</div>
