@if (replyingToMessage) {
<div class="reply-indicator">
  Replying to
  <strong>{{ getRecipientUsername() }}</strong
  >: "{{ replyingToMessage.text }}"
  <button mat-icon-button (click)="cancelReply.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
}
<div class="message-input-container">
  <div class="input-row">
    <textarea
      #textarea
      [(ngModel)]="message"
      (ngModelChange)="messageChange.emit($event)"
      (keydown.enter)="replyingToMessage ? onReply($event) : onEnter($event)"
      placeholder="Type a message"
      class="message-textarea"
    ></textarea>

    @if (showEmojiPicker) {
    <emoji-mart
      set="google"
      theme="light"
      (emojiSelect)="addEmoji($event)"
      class="emoji-picker"
    ></emoji-mart>
    }

    <div class="button-row">
      <button mat-icon-button (click)="showEmojiPicker = !showEmojiPicker">
        <mat-icon>insert_emoticon</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="replyingToMessage ? onReply($event) : onClick($event)"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
