@use "@angular/material" as mat;

.role-management-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
}

mat-form-field {
  width: 95%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.role-item-container {
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );

  &:hover {
    background-color: var(--mat-sys-surface-container);
  }

  &:hover div.role-description {
    height: auto;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.25rem;
    overflow: visible;
    pointer-events: all;
  }

  .role-description {
    font-size: 0.9rem;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.2s ease;

    white-space: pre;

    span {
      display: block;
    }
  }

  &.accent {
    @include mat.theme(
      (
        color: mat.$yellow-palette,
      )
    );

    background-color: var(--mat-sys-secondary-container);
  }
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  .role-actions {
    button {
      color: var(--mat-sys-secondary);
    }
  }
}

mat-selection-list {
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );

  @include mat.list-overrides(
    (
      list-item-hover-state-layer-color: transparent,
      list-item-focus-state-layer-color: var(--mat-sys-primary),
    )
  );
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1.5rem;

  .primary {
    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
  }

  .warn {
    @include mat.theme(
      (
        color: mat.$red-palette,
      )
    );
  }
}
