@use "@angular/material" as mat;

.role-management-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
}

mat-form-field {
  width: 95%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.role-item-container {
  &:hover {
    background-color: #ededed;
  }
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1.5rem;

  .primary {
    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
  }

  .warn {
    @include mat.theme(
      (
        color: mat.$red-palette,
      )
    );
  }
}
