@use "@angular/material" as mat;

.channel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.channel-link {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  button[mat-raised-button] {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    width: 100%;
  }

  button[mat-raised-button].role-management {
    @include mat.theme(
      (
        color: mat.$blue-palette,
      )
    );
  }

  button[mat-raised-button].add-channel {
    @include mat.theme(
      (
        color: mat.$cyan-palette,
      )
    );
  }
}
[cdkDropList] {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  // border: 1px solid #333;
  // padding: 0.5rem;
  // background: #2c2c2c;
  border-radius: 8px;
}

[cdkDrag] {
  cursor: grab;
}

.channel-item {
  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--mat-sys-primary-container);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;

  &:hover {
    background: var(--mat-sys-surface-dim);
  }

  .channel-link a {
    color: var(--mat-sys-inverse-surface);
    text-decoration: none;
    font-weight: 500;
  }

  // button[mat-icon-button] {
  // color: var(--mat-sys-inverse-surface);
  // }
}
