<div class="header">
  <button
    mat-raised-button
    [routerLink]="['/chat-room', chatId]"
    class="role-management"
  >
    Roles
  </button>
  @if (isAdmin && chatId) {
  <button mat-raised-button (click)="addNewChannel()">Add Channel</button>
  }
</div>

@if (isAdmin && chatId) {
<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  @for (channel of channels; track channel.order) {
  <div cdkDrag matRipple [matRippleTrigger]="trigger">
    <div #trigger class="channel-item">
      <span class="channel-link">
        <a [routerLink]="['/chat-room', chatId, 'channel', channel._id]">
          {{ channel.name }}
        </a>
      </span>

      <button
        mat-icon-button
        matTooltip="Rename"
        (click)="onRenameClick(channel)"
        aria-label="Rename channel"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Delete"
        (click)="onRemove(channel._id)"
        aria-label="Delete channel"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
} @else {
<p>Another interface.</p>
}
