@use "@angular/material" as mat;

.gif-picker {
  background-color: var(--mat-sys-surface-container);
  padding: 1rem;
  border-radius: 12px;

  .search-field {
    & {
      @include mat.theme(
        (
          density: -2,
        )
      );
    }

    width: 100%;
  }

  .gif-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    .gif {
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.primary {
  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

.more-button {
  margin-top: 0.5rem;
}
