<div class="gif-picker">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search GIFs</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (input)="search()"
      placeholder="Search GIFs..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab label="Gifs">
      <div class="gif-grid">
        @for (gif of gifs; track $index) {
        <div class="gif-container">
          <img [src]="gif" (click)="selectGif(gif)" class="gif" />
          <button
            mat-mini-fab
            matTooltip="Add to favorites"
            (click)="toggleFavorite(gif)"
            class="favorite-button"
          >
            <mat-icon>{{
              favoriteGifs.includes(gif) ? "star" : "star_border"
            }}</mat-icon>
          </button>
        </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Favorites">
      <div class="gif-grid">
        @if (areThereFavorites()) { @for (gif of favoriteGifs; track $index) {
        <div class="gif-container">
          <img [src]="gif" (click)="selectGif(gif)" class="gif" />
          <button
            mat-mini-fab
            matTooltip="Remove from favorites"
            (click)="toggleFavorite(gif)"
            class="favorite-button"
          >
            <mat-icon>star</mat-icon>
          </button>
        </div>
        } } @else {
        <div class="no-favorites">No favorites yet.</div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>

  @if (next) {
  <button mat-stroked-button (click)="loadMore()" class="primary more-button">
    @if (isLoading) {
    <div class="loading">
      <mat-spinner diameter="20" class=""></mat-spinner>
      Loading...
    </div>
    } @else {
    <div class="load-more">
      <mat-icon>refresh</mat-icon>
      Load more
    </div>
    }
  </button>
  }
</div>
