@use "@angular/material" as mat;

.gif-picker {
  background-color: var(--mat-sys-background);
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid var(--mat-sys-outline-variant);

  .search-field {
    & {
      @include mat.theme(
        (
          density: -2,
        )
      );
    }

    width: 100%;
  }

  .gif-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem;
    max-height: 269px;
    min-height: 269px;
    min-width: 500px;
    padding: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    .gif-container {
      position: relative;
      border-radius: 8px;

      .gif {
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.05);
        }
      }

      .favorite-button {
        & {
          @include mat.theme(
            (
              color: mat.$orange-palette,
            )
          );
        }

        position: absolute;
        top: 5px;
        right: 83px;
        width: 30px;
        height: 30px;
        z-index: 2;
      }
    }
  }
}

.primary {
  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

.more-button {
  margin-top: 0.75rem;

  .loading {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .load-more {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
