<div class="gif-picker">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search GIFs</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      (input)="search()"
      placeholder="Search GIFs..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="gif-grid">
    @for (gif of gifs; track $index) {
    <img [src]="gif" (click)="selectGif(gif)" class="gif" />
    }
  </div>

  @if (next) {
  <button mat-stroked-button (click)="loadMore()" class="primary more-button">
    @if (isLoading) {
    <div class="loading">
      <mat-spinner diameter="20" class=""></mat-spinner>
      Loading...
    </div>
    } @else {
    <div class="load-more">
      <mat-icon>refresh</mat-icon>
      Load more
    </div>
    }
  </button>
  }
</div>
