@use "@angular/material" as mat;

.room-columns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.room-card {
  width: 46.5%;

  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

mat-card-title {
  margin: 1rem;
}

.room-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .thumbnail-image {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  .room-info {
    display: flex;
    flex-direction: column;

    .room-topic {
      color: var(--mat-sys-outline);
      font-size: 0.8rem;

      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
