<!-- <h2>User Chat Rooms</h2>
@for (userRoom of userRooms; track $index) {
<div>{{ userRoom.name }}</div>
}

<h2>All Chat Rooms</h2>
@for (room of allRooms; track $index) {
<div>{{ room.name }}</div>
}

<button (click)="createRoom()">Create Chat Room</button> -->
<mat-card>
  <mat-card-title>📃 Chat Rooms</mat-card-title>

  <div class="room-list">
    <h3>Your Rooms</h3>
    <mat-list>
      @for (room of userRooms; track $index) {
      <mat-list-item>
        <span># {{ room.name }}</span>
        <button mat-button (click)="joinRoom.emit(room)">Join</button>
      </mat-list-item>
      }
    </mat-list>

    <h3>All Rooms</h3>
    <mat-list>
      @for (room of filteredChatRooms(); track $index) {
      <mat-list-item>
        <span># {{ room.name }}</span>
        <button mat-button (click)="joinRoom.emit(room)">Join</button>
      </mat-list-item>
      }
    </mat-list>
  </div>

  <div class="create-button">
    <button mat-raised-button color="primary" (click)="createRoom()">
      🔘 Create Room
    </button>
  </div>
</mat-card>
