@use "@angular/material" as mat;

.room-columns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.room-card {
  width: 46.5%;

  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}

mat-card-title {
  margin: 1rem;
}

mat-list-item {
  margin-bottom: 0.5rem;
}

.room-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .thumbnail-image {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  button {
    flex-shrink: 0;
  }

  .room-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    min-width: 0;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .room-topic {
      color: var(--mat-sys-outline);
      font-size: 0.8rem;
    }
  }
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

.empty-message {
  padding: 1rem;
  font-size: 1.05rem;
  color: var(--mat-sys-outline);
}
