.room-columns {
  display: flex;
  justify-content: center;
  // flex-direction: row;
  // flex-wrap: wrap;
  gap: 1rem;
}

.room-card {
  // display: flex;
  // flex-direction: row;
  // min-width: 300px;
  width: 46.5%;
}
