<div class="room-columns">
  <mat-card class="room-card">
    <mat-card-title>Your Rooms</mat-card-title>
    @if (isNotEmptyChat(userRooms)) {
    <mat-list>
      @for (room of userRooms; track $index) {
      <mat-list-item>
        <div class="room-item">
          <img
            [src]="getChatThumbnailUrl(room)"
            alt="thumbnail"
            class="thumbnail-image"
          />
          <div class="room-info">
            <span>{{ room.name }}</span>
            <span class="room-topic">{{ room.topic }}</span>
          </div>
          <button mat-button (click)="visitRoom.emit(room)">Visit</button>
          <button
            mat-button
            [disabled]="isLeaveDisabled(room)"
            (click)="leaveRoom.emit(room)"
            class="warn"
          >
            Leave
          </button>
        </div>
      </mat-list-item>
      }
    </mat-list>
    } @else {
    <p class="empty-message">You have no rooms.</p>
    }
  </mat-card>

  <mat-card class="room-card">
    <mat-card-title>All Rooms</mat-card-title>
    <mat-list>
      @for (room of filteredChatRooms(); track $index) {
      <mat-list-item>
        <div class="room-item">
          <img
            [src]="getChatThumbnailUrl(room)"
            alt="thumbnail"
            class="thumbnail-image"
          />
          <div class="room-info">
            <span>{{ room.name }}</span>
            <span class="room-topic">{{ room.topic }}</span>
          </div>
          <button
            mat-button
            [disabled]="isJoinDisabled(room)"
            (click)="joinRoom.emit(room)"
          >
            Join
          </button>
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-card>
</div>
