<form>
  <app-auth-form-field
    label="Current Password"
    placeholder="Current Password"
    type="password"
    [control]="currentPasswordControl"
  ></app-auth-form-field>

  <app-auth-form-field
    label="New Password"
    placeholder="New Password"
    type="password"
    [control]="newPasswordControl"
  ></app-auth-form-field>

  <app-auth-form-field
    label="Confirm Password"
    placeholder="Confirm Password"
    type="password"
    [control]="confirmPasswordControl"
  ></app-auth-form-field>

  <div class="button-row">
    <button mat-raised-button type="submit" [disabled]="form.invalid">
      Update Password
    </button>
  </div>
</form>
